.appointmentVisible {
    display : inline;
}

.appointmentHidden {
    display: none;
}

.dvFriends {
    top: 50px;
    display : table;
}

.friendItem {
    float:left;
    width : 100px;
    height: 100px;
    padding: 2px 2px 2px 2px;
}

.createApp {
    top: 250px;
    left: 100px;
}